  <tbody class="home-condition-table">
      <div class="new-condition-path">
        <% if current_user %>
          <%= link_to 'New Condition', new_condition_path %>
        <% end %>
      </div>
      <% @conditions.each do |condition| %>
      <tr class="home-condition">
        <td class="home-condition-td"><%= render 'condition_template', :condition => condition %></td>
      </tr>
      <% end %>
  </tbody>
  <script>
  </script>

