
<p id="notice"><%= notice %></p>

<p>
  <div class="add-side">
    <% if current_user %>
      <%= link_to "add a side", new_side_path(:condition_id => @condition.id)%>
    <% end %>
  </div>
  <div class="condition-name">
    <h1><%= @condition.name %><h1>
  </div>
  <ul id="pro-ideas" class="to-sort">
    <% @condition.sides.each do |side| %>
      <% if side.is_left %>
        <li class="ui-state-default"><%= side.body %></li>
      <% end %>
    <% end %>
  </ul>
  <ul id="chosen-ideas" class="to-sort">
    <li class="ui-state-highlight">Place your opinions here</li>
  </ul>
  <div class="con-ideas">
  </div>
</p>

<script>
  $(function() {
    $( "#chosen-ideas, #pro-ideas" ).sortable({
      connectWith: ".to-sort"
    }).disableSelection();
  });
</script>
