<div class="hero-unit">
  <h1>RiskIt: a deliberation tool for empowered patients</h1>
  <p><b>RiskIt</b> is a deliberation platform that aims to help people faced with tough medical decisions to make a <i>smarter, more informed</i> decision. Instead of spoonfeeding medical information to individuals from a textbook, RiskIt exposes individuals to the wide array of reasons why <b>patient experts</b> would recommend one therapy versus another. The reasons in favor of one treatment option over another may be medical, practical, or financial, but most importantly, the reasons are <i>personal</i>.</p>
  <p><a href="/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div id="contact-div" style="position:relative;top:-80px;">
  <h1>Contact Us</h1>
  <p><b>Who is on our team?</p></b>

<p><b>Molly Finn</b><br />
<i>Harvard University</i></p>

<p><b>Robert Boling</b><br />
<i>Harvard University</i></p>

<p><b>Karandeep Singh, M.D.</b><br />
Nephrology Fellow<br />
Brigham and Women's / Massachussett's General Hospital <br />
<i>Harvard University</i></p>

<p><b>Have questions?</b></p>

<p>You can direct questions to Karandeep Singh at karandeep (at) mail (dot) harvard (dot) edu.</p>
</div>