<h1 class="home-h1">Welcome to healthConnect</h1>
  <%= render 'condition_form' %>
  <tbody class="home-condition-table">
      <% @conditions.each do |condition| %>
      <tr class="home-condition">
        <td class="home-condition-td"><%= render 'condition_template', :condition => condition %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>
