<% if @side.is_left == true %>
  $("#the-pro-form #side_body").val('');
  $("<li class='ui-state-highlight' style='padding: 10px; border-color: #66CCFF; background: #99E6FF'><%= escape_javascript(@side.body) %></li>").prependTo("#your-pro-ideas");
<% else %>
  $("#the-con-form #side_body").val('');
  $("<li class='ui-state-highlight' style='padding: 10px; border-color: #33CC33; background: #85E085'><%= escape_javascript(@side.body) %></li>").prependTo("#your-con-ideas");
<% end %>
