<% if @side.is_left == true %>
  $("<li class='ui-state-highlight'><%= escape_javascript(@side.body) %></li>").prependTo("#pro-ideas");
<% else %>
  $("<li class='ui-state-highlight'><%= escape_javascript(@side.body) %></li>").prependTo("#con-ideas");    
<% end %>