/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.home-h1{
	text-align: center;
}
.h1-condition-link{
	text-align: center;
}

.the-header-link{
	font-size: 20px;
}

.new-condition-path{
	font-size: 30px;
	text-align: center;
}

.new-condition-path-jquery{
	text-align: center;
	padding-top: 30px;
}


a#jquery-path{
	font-size: 24px;
	text-align: center;
}

.condition-name{
	text-align: center;
	font-size: 26px;
}

.options-select{
	text-align: center;
}

#reward-div{
	display: none;
}
#risk-div{
	display: block;
}