/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 *= require jquery.modal
 *= require jquery.ui.slider
 */
.home-h1{
	text-align: center;
}
.h1-condition-link{
	text-align: center;
}

.the-header-link{
	font-size: 30px;
	padding-left: 40px;
	padding-top: 40px
}

.new-condition-path{
	font-size: 30px;
	text-align: center;
}

.new-condition-path-jquery{
	text-align: center;
	padding-top: 30px;
}


a#jquery-path{
	font-size: 24px;
	text-align: center;
}

.condition-name{
	text-align: center;
	font-size: 26px;
}

.options-select{
	text-align: center;
}

#reward-div{
	display: none;
	padding-left: 30px;
}
#risk-div{
	display: block;
	padding-left: 30px;
}
.risk-body{
	font-size: 20px;
}
.reward-body{
	font-size: 20px;
}
.h3-reward{
	font-size: 25px;
}
.h3-risk{
	font-size: 25px;
}

#new-condition{
	text-align: center;
}

#new_condition{
	text-align: center;
}
#risk-div{
	text-align: center;
}
#reward-div{
	text-align: center;
}
#risk-table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#reward-table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#risk-table-body{
	text-align: center;
}
#reward-table-body{
	text-align: center;
}
.condition-risk{
	text-align: center;
}
#pro-ideas{
	float: left;
	margin-left: 1%;
	border: dashed;
	height: 500px;
	overflow-y: auto;
	font-size: 20px;
	overflow: auto;
}
#your-pro-ideas{
	float: left;
	margin-left: 3%;
	border: solid;
	height: 500px;
	overflow-y: auto;
	font-size: 20px;
	overflow: auto;
}
#your-con-ideas{
	float: right;
	margin-right: 3%;
	border: solid;
	height: 500px;
	font-size: 20px;
	overflow: auto;
}
#con-ideas{
	float: right;
	margin-right: 1%;
	height: 500px;
	border: dashed;
	font-size: 20px;
	overflow: auto;
}
.ideas-li{
	text-align: center;
	padding-top: 10px;
	border: dotted;
}
.con-ideas{
	margin-right: 15px;
	float: right;
	width: 15%;
	border: solid;
}
#chosen-ideas{
	text-align: center;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
#new_user_session{
	text-align: center;
}
li{
  list-style: none;
}
#login-id{
	text-align: center;
}
#new-user{
	text-align: center;
}
#new_user{
	text-align: center;
}
.add-side{
	text-align: center;
}
#new_side{
	text-align: center;
}
#h1-side{
	text-align: center;
}
#others-thought-id{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#option-one{
	float: left;
	margin-left: 5%;
}
#option-two{
	float: right;
	margin-right: 5%;
}
#instructions{
	text-align: center;
}
#pro-here{
	float: left;
	margin-left: 15%;
	font-size: 20px;
	display: inline;
}
#con-here{
	float: right;
	margin-right: 14%;
	font-size: 20px;
	display: inline;
}
#to-here-pro{
	float: left;
	margin-left: 6%;
	font-size: 20px;
	display: inline;
}
#to-here-con{
	float: right;
	margin-right: 7%;
	font-size: 20px;
	display: inline;
}
#about-h1{
	text-align: center;
}
#the-pro-form{
	text-align: center;
	margin: auto;
	display: none;
}
#the-con-form{
	text-align: center;
	margin: auto;
	display: none;
}
#landing-stuff{
	margin-left: 4%;
}
#slider{
	margin: auto;
	text-align: center;
	width: 400px;

}
#slider-two{
	margin: auto;
	text-align: center;
	width: 400px;
}
#slider-three{
	margin: auto;
	text-align: center;
	width: 400px;
}
#slider-four{
	margin: auto;
	text-align: center;
	width: 400px;	
}
#the-body{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#preamble{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#preamble-two{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#leaning{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#leaning-two{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#not-informed{
	position: relative;
	left: -260px;
}
#informed{
	position: relative;
	left: 260px;
}
#not-informed-two{
	position: relative;
	left: -260px;
}
#informed-two{
	position: relative;
	left: 260px;
}
#hd{
	position: relative;
	left: -260px;
}
#pd{
	position: relative;
	left: 260px;
}
#hd-two{
	position: relative;
	left: -260px;
}
#pd-two{
	position: relative;
	left: 260px;
}
#step-one{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#step-two{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#the-lists{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
}
.to-sort-pro{
	width: 250px;
}
.to-sort-con{
	width: 250px;
}
#step-three{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
#learning-three{
	text-align: center;
	margin: auto;
}
#buttons{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#step-four{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#submit-button{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#step-five{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#about-div{
	padding: 50px;
}
#contact-div{
	padding: 50px;
}