/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.home-h1{
	text-align: center;
}
.h1-condition-link{
	text-align: center;
}

.the-header-link{
	font-size: 30px;
	padding-left: 40px;
	padding-top: 40px
}

.new-condition-path{
	font-size: 30px;
	text-align: center;
}

.new-condition-path-jquery{
	text-align: center;
	padding-top: 30px;
}


a#jquery-path{
	font-size: 24px;
	text-align: center;
}

.condition-name{
	text-align: center;
	font-size: 26px;
}

.options-select{
	text-align: center;
}

#reward-div{
	display: none;
	padding-left: 30px;
}
#risk-div{
	display: block;
	padding-left: 30px;
}
.risk-body{
	font-size: 20px;
}
.reward-body{
	font-size: 20px;
}
.h3-reward{
	font-size: 25px;
}
.h3-risk{
	font-size: 25px;
}

#new-condition{
	text-align: center;
}

#new_condition{
	text-align: center;
}
#risk-div{
	text-align: center;
}
#reward-div{
	text-align: center;
}
#risk-table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#reward-table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#risk-table-body{
	text-align: center;
}
#reward-table-body{
	text-align: center;
}
.condition-risk{
	text-align: center;
}
#pro-ideas{
	float: left;
	width: 15%;
	margin-left: 15px;
	border: dashed;
	height: 500px;
	overflow-y: auto;
}
#your-pro-ideas{
	float: left;
	margin-left: 50px;
	border: solid;
	width: 15%;
	height: 500px;
	overflow-y: auto;
}
#your-con-ideas{
	float: right;
	margin-right: 50px;
	border: solid;
	width: 15%;
	height: 500px;
}
#con-ideas{
	width: 15%;
	float: right;
	margin-right: 15px;
	height: 500px;
	border: dashed;
}
.ideas-li{
	text-align: center;
	padding-top: 10px;
	border: dotted;
}
.con-ideas{
	margin-right: 15px;
	float: right;
	width: 15%;
	border: solid;
}
#chosen-ideas{
	text-align: center;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}
#new_user_session{
	text-align: center;
}
li{
  list-style: none;
}
#login-id{
	text-align: center;
}
#new-user{
	text-align: center;
}
#new_user{
	text-align: center;
}
.add-side{
	text-align: center;
}
#new_side{
	text-align: center;
}
#h1-side{
	text-align: center;
}
#span-pro{
	float: left;
	display: inline;
	margin-left: 75px;
}
#span-con{
	float: right;
	display: inline;
	margin-right: 100px;
}
#others-thought-id{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}